.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  z-index: 1000;
  padding: 24px 32px;
  background-color: rgb(153, 62, 243);
  margin-bottom: 24px;
  color: rgb(245, 245, 246);
}

.nav {
  display: flex;
  gap: 24px;
}

.link {
  color: rgb(245, 245, 246);
  font-weight: 600;
  font-size: 18px;
}

.link:hover {
  color: rgb(67, 15, 240);
}

.active {
  color: rgb(67, 15, 240);
  font-weight: 600;
  border-bottom: 3px solid rgb(67, 15, 240);
}
